div{
    height: 300px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid greenyellow;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
}
div:hover{
    background-color: bisque;
    font-size: 20px;
    color:cadetblue;
}
div:active{
    background-color: blueviolet;
}