#d1{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 50px;
}
#outer{
    height: 700px;
    width: 200px;
    background-color: rgb(29, 28, 28);
    margin: 50px;
    border-radius: 10px;
}
#inner1{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 50px
}

#inner2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 50px
}

#inner3{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 50px
}
