div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px pink solid;
    border-top: 20px purple  solid;
    border-bottom: 20px purple  solid;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: loader 2s linear 0s infinite alternate;
}
@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
  }
