body{
    padding: 0px;
    margin: 0px;
}
#amazon{
    height: 60px;
    background-color: #0f1111;
}
a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}
button{
    background-color: #f08804;
}
#ama{
    color: orange;
    font-size: 25px;
    margin-right: 200px;
}
#box1{
    height: 100px;
    width: 100px;
    border: 2px dotted #0f1111;
    background-color: rgba(243, 116, 19, 0.5);
}
#box2{
    height: 100px;
    width: 100px;
    border: 2px dotted #0f1111;
     background-color: rgba(225, 84, 19, 0.5);
}
#box3{
    height: 100px;
    width: 100px;
    border: 2px dotted #0f1111;
     background-color: rgba(175, 76, 0, 0.5);
}
main{
    height: 1500px;
}
footer{
    background-color: #0f1111;
    color: whitesmoke;
    text-align: center;
}