div{
    height: 100px;
    width: 100px;
    color: aliceblue;
    background-color: dodgerblue;
    border: 2px solid black;
}
#box{
    margin : 10px;
    padding: 10px;
    height: 150px;
    width: 150px;
    color: antiquewhite;
    background-color: palevioletred;
    text-align: center;
}
.boxes{
    background-color: purple;
    color: palevioletred;
    text-align: center;
    height: 200px;
    width: 200px;
}