.content{
    color: aliceblue;
    background-color: crimson;
    text-decoration: underline;
}
.contentsss{
    background-color: crimson;
    text-decoration: line-through;
}
.pookie{
    color: pink;
    text-decoration: underline;
}